<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="" title="" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather Application</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span> and freelancer</h1>
                        <a href="https://dg19ymnhibj9248bt5dvnq-on.drv.tw/Prot/" ><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
                 created with <span class="heart">❤</span> by Darp
        </p>
    </footer>
</body>

</html>